/* UTILITY */
a{
	color: white;
	text-decoration: none;
}
/* HEADER */
header .container{
	background-color:#2c3e4f;
	height: 80px;
}
.navbar-brand, a.nav-link,.navbar-toggler, .navbar-toggler-icon{
	color: white;
}

.navbar-collapse{
	flex-grow: 0;
}
/* JUMBOTRON */
#jumbotron > .container,
#about > .container{
	background-color: #19bc9b;
	min-height: 450px;
}

#jumbotron img{
	width: 50%;
}

.separator-line{
	width: 15%;
	height: 4px;
	border-radius: 10px;
}

.bg-firstcolor{
	background-color: #2c3e4f;
}

.color-firstcolor{
	color: #2c3e4f;
}
/* PORTFOLIO SECTION */

/* ABOUT SECTION */
#about .row{
	min-height: 400px;
}
/* CONTACT SECTION */
#contact .form{
	height: 300px;
	background: grey;
}
#contact .row{
	height: 400px;
}
/* INFO SECTION */
.info .row div{
	background-color: purple;
	color: white;
	border: 3px dashed black;
}
.info .row{
	min-height: 400px;
}